body{
    margin: 0;
}
header{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(30, 88, 88);
}
h1{
    margin: 0;
}
form{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    margin: 2%;
}

.commentaire{
    background-color: grey;
    margin: 5px;
    display: none;
}