@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f3e6c4;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #dac881;
    padding: 10px;
}

h1 {
    margin: 0 0 2rem 0;
    font-family: "Montserrat";
    color: #d69a69;
}

form {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Roboto'
}

.boutton {
    background-color: #d69a69;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    border: 0px;
    font-weight: 500;
    animation: pulse-orange 2s infinite;
    transition: 0.2s ease-in-out;
}
.delete{
    background-color: #c9b979;
    color: rgb(34, 28, 28);
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    border: 0px;
    font-weight: 500;
}

.boutton:hover {
    padding: 0.3rem 0.4rem;
}

div {
    margin: 2%;
}

.archiveretour {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 0px;
    position: absolute;
    top: 10px;
    right: 40px;
}

.billet {
    border: 7px #d69a69 solid;
    border-radius: 10px;
    width: 40%;
    padding: 0;


}
h3 {
    font-size: 0.75rem;
    color: white;
    margin-top: -1px;
    margin-left: -1px;
    background-color: #d69a69;
    padding: 5px 10px 5px 10px;
    width: fit-content;
 
    border-radius: 3px;
    width: -moz-fit-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

li {
    position: relative;
    margin-bottom: 20px;
}

.commentaire {
      display:none;
    color: rgb(54, 50, 45);
    font-family: 'Roboto', sans-serif;
}


.nvBillet{
display: flex;
justify-content: center;
margin: 2rem;

}

li::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: white;
    bottom: -5px;
}




.commenter,
.voirBillet {
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

.addBillet {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.billetUnique{
margin: 8rem auto;
}

.admin {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 121, 63, 0.7);
    padding: 10px;

}

@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
}